nav{
    display: flex;
}

a{
    text-decoration: none;
    color: #feffff;
}

body{
    background-image: url('imgs/headphones_hero_1.jpg');
}

.s1{
    padding-top: 250px;
    align-items: center;
}
.s1 h2{
font-size: 30px;
font-weight: bold;
color: #feffff;
}